.sn-img-item {
  padding: 0 0 0 0;
  position: relative;
}

.sn-img {
  background-image: url(sn-term.png);
  background-repeat: no-repeat;
  position: relative;
  height: 15px;
  left: 0;
  top: 0;
  width: 30px;
}

.sn-item {
  position: relative;
  left: 25px;
  top: -15px;
  height: .7em;
}

.sn-term-link {
  padding: .7em 0 .7em 0;
  position: relative;
  font-weight: bold;
}

.sn-feed-icon {
  text-align: right;
}

.sn-message {
  padding: .5em 0 .5em 0;
}

.sn-manage-form {
  padding: 1em 0 0 0;
}

